.main-header {
  padding: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;

}

.main-header__title {
  font-size: 80px;
  letter-spacing: -1.5px;
}

.main-header__title--blue {

  color: blue;
  font-size:60px;
}

.main-header__title--orange {

  color: orange;
  font-size:60px;
}

.main-header__menu ul {
  display: flex;
  justify-content: flex-end;
  list-style:none;
}

.main-header__menu a {
  padding: 10px 10px;
  color: gray;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
  background-color: blue;
  color: rgb(255, 255, 255);
}

.container-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1;
}

.badge-carrinho {
  background-color: rgb(95, 95, 114);
  padding: 5px 10px;
  border-radius: 4px;
  color: rgb(172, 29, 29);
}

.search-form{
  height: 44px;
  display: flex;
}

.search-form input{
  box-sizing: border-box;
  height: 56px;
  padding: 28px;
  flex:1;
  background-color: #CCC;
  color: #DDD;
  border: none;
  transition: all -3s ease-in-out;
  font-size: 22px;
}

.search-form button{
  width: 56px;
  height: 56px;
  background-color: blue;
  border:none;
  color: rgb(255, 255, 255);
  font-size: 22px;
}
