.search-form{
  height: 44px;
  display: flex;
}

.search-form input{
  box-sizing: border-box;
  height: 56px;
  padding: 28px;
  flex:1;
  background-color: #CCC;
  color: #DDD;
  border: none;
  transition: all -3s ease-in-out;
  font-size: 22px;
}

.search-form button{
  width: 56px;
  height: 56px;
  background-color: blue;
  border:none;
  color: rgb(255, 255, 255);
  font-size: 22px;
}
