<app-card titulo="Primeiro componente" cor="#DD1522">
  <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Aprofundando em Pipes" cor="#AADD11">
<app-pipe-custom></app-pipe-custom>
</app-card>
<app-card titulo="Resto dos componentes" cor="#DA13488">
<app-two-way></app-two-way>
<app-render-listas></app-render-listas>
<app-componente-personalizado nome="João" sobrenome="Silva"></app-componente-personalizado>
<app-componente-pai></app-componente-pai>
<app-servico1></app-servico1>
<app-servico2></app-servico2>
</app-card>
<app-card titulo="Ciclos de Vida!" cor="#ADF123">
<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
